// ## Colors

// ### Primary

$Dark-Blue: hsl(240, 38%, 20%);
$Grayish-Blue-400: hsl(240, 18%, 77%);
$Grayish-Blue-300: hsl(240, 18%, 85%);

@mixin mq {
  @media (min-width: 600px) {
    @content;
  }
}
