.slider {
  width: max(375px, 80vw);
  max-width: 600px;
  height: 100vh;
  padding: 25px;

  background-color: white;

  background-image: url(../images/pattern-quotes.svg),
    url(../images/pattern-curve.svg), url(../images/pattern-bg.svg);

  background-repeat: no-repeat;

  background-position: top 360px left 50%, bottom left, top 25px center;

  background-size: 60px, 75%, 320px;
}
