.slide-background {
  width: max(325px, 80vw);
  max-width: 600px;
  height: 100vh;
  padding: 25px;

  background-color: white;

  background-image: url(../images/pattern-quotes.svg),
    url(../images/pattern-curve.svg), url(../images/pattern-bg.svg);

  background-repeat: no-repeat;

  background-position: top 345px left 50%, bottom left, top 25px center;

  background-size: 55px, 75%, 280px 290px;
}
