.slider {
  position: relative;
  width: max(375px, 80vw);
  height: 100vh;
  padding: 25px;

  background-color: white;

  background-image: url(../images/pattern-quotes.svg),
    url(../images/pattern-curve.svg), url(../images/pattern-bg.svg);

  background-repeat: no-repeat;

  background-position: top 355px left 50%, bottom left, top 25px center;

  background-size: 55px, 75%, 320px;

  &-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &-slides {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    transition: left 1s ease-in-out;
  }

  &-navigation {
    position: absolute;
    display: flex;
    gap: 15px;
    top: 285px;
    left: 50%;
    padding: 12px 10px;
    transform: translateX(-50%);
    border-radius: 30px;

    background-color: white;

    .btn {
      width: 20px;
      border: none;
      background-color: transparent;
    }
  }
}

.slide {
  width: calc(max(375px, 80vw) - 50px);
  max-width: calc(600px - 50px);

  &-image-container {
    margin: 30px auto 30px;

    width: 250px;
    height: 250px;
    border-radius: 5px;
    overflow: hidden;

    box-shadow: 0 35px 20px -10px rgba($color: $Dark-Blue, $alpha: 0.1),
      0 40px 25px -25px rgba($color: $Dark-Blue, $alpha: 0.18);
  }

  &-text {
    padding: 10px;
    padding-top: 40px;
    text-align: center;
  }

  &-user-info {
    margin-top: 15px;
  }
}

@include mq {
  .slider {
    width: min(1440px, 95vw);
    height: 800px;
    padding: 110px 170px 110px;

    background-position: top 200px left 260px, bottom left, top 45px right 75px;

    background-size: 120px, 40%, 700px;

    &-navigation {
      top: 620px;
      left: 785px;
      transform: translateX(0);

      padding: 20px;
      gap: 35px;
    }
  }

  .slide {
    width: calc(min(1440px, 95vw) - 340px);
    max-width: calc(1440px - 340px);
    height: 580px;

    display: grid;
    grid-template-columns: 1fr 80px 460px;
    place-content: start;

    &-image-container {
      grid-column: 2 / span 2;
      grid-row: 1;
      width: 100%;
      height: 540px;
      margin: 0;
    }

    &-text {
      grid-column: 1 / span 2;
      grid-row: 1;
      height: 580px;
      place-self: center;

      padding: 0;
      padding-top: 20px;

      text-align: left;

      display: grid;
      place-content: center;
    }

    &-user-info {
      margin-top: 40px;
      display: flex;
      gap: 10px;
    }
  }
}
