.slider {
  position: relative;
  width: max(375px, 80vw);
  max-width: 600px;
  height: 100vh;
  padding: 25px;

  background-color: white;

  background-image: url(../images/pattern-quotes.svg),
    url(../images/pattern-curve.svg), url(../images/pattern-bg.svg);

  background-repeat: no-repeat;

  background-position: top 355px left 50%, bottom left, top 25px center;

  background-size: 55px, 75%, 320px;

  &-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &-slides {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    transition: left 1s ease-in-out;
  }
}

.slide {
  width: calc(max(375px, 80vw) - 50px);
  max-width: 600px;

  &-image-container {
    margin: 30px auto 30px;

    width: 250px;
    height: 250px;
    border-radius: 5px;
    overflow: hidden;

    box-shadow: 0 35px 20px -10px rgba($color: $Dark-Blue, $alpha: 0.1),
      0 40px 25px -25px rgba($color: $Dark-Blue, $alpha: 0.18);
  }

  &-text {
    padding: 10px;
    padding-top: 40px;
    text-align: center;
  }

  &-user-info {
    margin-top: 15px;
  }
}
